/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .featuresgrid {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(1fr, 4);
  }
  
  .mghandlers {
    grid-column: 1/2 !important;
  }

  .mghandlersbtn {
    grid-column: 1/2 !important;
    grid-row: 4/5 !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
